html{
    font-family: 'Darker Grotesque';
    background-color: rgb(229, 240, 245);
}

body {
    display: flex;
    flex-direction: column;
}
.main-title{
    display: inline-block;
    width: fit-content;
    color: black;
    font-size: 150px;
    font-weight: bold;
}

.colour-title{
    display: flex;
    width: fit-content;
    color: black;
    font-size: 150px;
}





footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
    align-items:  baseline;
}

li {
    font-size: 18px;
}

.rubbishnote{
    font-size: 16px;
}

.isla{
    max-width: 35px;
    max-height: auto;
}